
<!-- Heading 
<mdb-card class="abc">

    
    <mdb-card-body class="d-sm-flex justify-content-between">

        
        <form class="d-flex md-form justify-content-center my-0">
           
            <input type="search" placeholder="Search for a service or product..." aria-label="Search" class="form-control" mdbInput>
            
                <mdb-icon class="aaa" fas icon="search"></mdb-icon>
           

        </form>
        

    </mdb-card-body>

</mdb-card>
 Heading -->

<div class="bg">
<mat-card class="box">
  <form class="form-inline md-form form-sm">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for a Service or Product..." 
      mdbInput>
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  </form>
</mat-card>
</div>

<app-stats-card></app-stats-card>


