
<!-- Heading 
<mdb-card class="abc">

    
    <mdb-card-body class="d-sm-flex justify-content-between">

        
        <form class="d-flex md-form justify-content-center my-0">
           
            <input type="search" placeholder="Search for a service or product..." aria-label="Search" class="form-control" mdbInput>
            
                <mdb-icon class="aaa" fas icon="search"></mdb-icon>
           

        </form>
        

    </mdb-card-body>

</mdb-card>
 Heading -->

<!--<div class="bg">
<mat-card class="box">
  <form class="form-inline md-form form-sm">
    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search for a Service or Product..."       mdbInput>
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  </form>
</mat-card>
</div>-->


<div class="row">
  <div class="col">
    
    <input type="search" class="form-control" placeholder="Search" style="margin: auto; max-width: 800px;height: 30px;" /> 
    <form class="form-inline md-form form-sm">
    <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
  </form>
  </div>
</div>


<!--<div class="main">
  

  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  
    
</div>-->



<div class="main">
  
  <!-- Actual search box -->
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  
  <!-- Another variation with a button -->
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search this blog">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  
  
</div>


<app-stats-card></app-stats-card>


