.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.sidebar-fixed {
    height: 100vh;
    width: 270px;
    
    background-color: rgb(194, 65, 65);
    padding: 1.5rem;
    padding-top: 0; }
    .abc {
      position: absolute;
width: 794px;
height: 50px;
left: 0px;}
    .sidebar-fixed .list-group .active {
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .sidebar-fixed .logo-wrapper {
      padding: 2.5rem; }
      .sidebar-fixed .logo-wrapper img {
        max-height: 50px; }
  
  @media (min-width: 1200px) {
    .navbar,
    
    .page-footer,
    main {
      padding-left: 270px; } }
  
  @media (max-width: 1199.98px) {
    .sidebar-fixed {
      display: none; } }
  